<h2 mat-dialog-title>Comments</h2>
<div class="comments no-scrollbar">
    <div class="full-width comment-container">
        <div class="flex justify-between items-center">
            <span class="comment-author">Shemilkumar E A</span>
            <span class="comment-cell">B125</span>
        </div>
        <span class="comment-message">This is not correct</span>
        <span class="comment-date">June 19, 2024 at 10:49</span>
    </div>

</div>


<!-- <mat-dialog-actions class="action-btns">
    <button mat-flat-button color="warn" (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions> -->