<div class="page-container">
    <h1 class="project-heading flex justify-center">
        <span
            class="flex justify-center bg-clip-text text-transparent bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400">
            Audit Handling App
        </span>
    </h1>

    <div class="excel-buttons">
        <div *ngIf="excelLoaded" class="flex items-center justify-end gap-2">
            <button (click)="isEditing = false" class="mode-selection" [ngClass]="!isEditing ? 'active-mode' : ''">
                Comment Mode
            </button>
            <button (click)="isEditing = true" class="mode-selection" [ngClass]="isEditing ? 'active-mode' : ''">
                Edit Mode
            </button>
            <button *ngIf="isEditing" (click)="handleSave()" class="custom-button save-button">Save</button>
            <button *ngIf="isEditing" (click)="handleCancel()" class="custom-button cancel-button">Cancel</button>
        </div>

        <div class="input-container flex gap-2 items-end justify-end">
            <button (click)="openCommentsDialog()" class="custom-button save-button flex items-center">
                <span>Comments</span>
            </button>
            <input type="file" (change)="onFileChange($event)" id="fileInput" class="file-input"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <label for="fileInput" class="file-input-label">Choose a file</label>
            <!-- <button (click)="handleUploadFile()" class="custom-button save-button">Upload</button> -->
            <button (click)="handleDownload()" class="custom-button download-button flex items-center">
                <span>Download</span>
            </button>
        </div>
    </div>

    <div class="viewer-container" *ngIf="excelLoaded">
        <div class="viewer">
            <ngx-excel-viewer *ngIf="isFetched" [data]="data" [editable]="isEditing" id="Source"
                saveDataOutput="complete" (onDataSave)="onSave($event)" [sheetNames]="sheetNames"
                [events]="eventEmitter" (onDataDownload)="onDownload($event)" [comments]="comments"></ngx-excel-viewer>
        </div>
    </div>

    <div *ngIf="!excelLoaded" class="viewer placeholder-viewer">
        Please upload the excel...
    </div>
</div>